@import url('panchang.css');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

a {
    color: inherit;
    text-decoration: none;
}
  a:hover {
    text-decoration: underline;
}

img {
    width: 40px;
    height: auto;
    max-width: 12vw;
    padding-top: 30%;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}
  

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    font-family: Panchang-Regular;
    text-transform: uppercase;
    color: #f4f4f4;
    font-size: clamp(0.75rem, 2vw, 1.25rem); /* Adjusts between 0.75rem and 1.25rem */
}

.navbar ul li a:hover {
    color: rgba(255, 255, 255, 0.253);
}

section h1 {
    font-size: clamp(2.75rem, 2vw, 3.25rem); /* Adjusts between 0.75rem and 1.25rem */
    font-family: Panchang-Regular;
}

section p {
    font-size: clamp(0.75rem, 2vw, 1.25rem); /* Adjusts between 0.75rem and 1.25rem */
    font-family: Panchang-Light;
}

.video-container {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.video-container video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section#tones {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);                /* actual blur effect */
    -webkit-backdrop-filter: blur(20px);        /* Safari support */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section#tones h1 {
    color: #000000;
}

section#tones p {
    color: #000000;
}

section#live {
    background-color: rgba(14, 14, 14, 0.7);
    backdrop-filter: blur(20px);                /* actual blur effect */
    -webkit-backdrop-filter: blur(20px);        /* Safari support */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section#contact {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);                /* actual blur effect */
    -webkit-backdrop-filter: blur(20px);        /* Safari support */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section#contact h1 {
    color: #000000;
}

section#contact p {
    color: #000000;
}


@media (max-width: 767px) {
    .video-container video{ 
        width: 100%;
        height: 100vh;
        display: flex;
    }
    .navbar ul li {
        margin: 0 0rem;
        padding: 1rem;
    }   
    
}

@media (max-width: 1023px) and (min-width: 768px) {
    .video-container video{ 
        width: 100%;
        height: 100vh;
        display: flex;
    }
}
  

@media (min-width: 1024px) {
    .video-container video{ 
        width: 100%;
        height: 100vh;
        display: flex;
    }
}